.message {
    color: black;
}

.imageAndText {
    color: black;

}

.imageAndText img {

}

.text {
    color: black;

}

.text:after {

}

.name {
    color: black;

}

.messageText {
    color: black;

}

.time {
    color: black;

}